{% extends '@AkyosCore/layout.html.twig' %}

{% block title %}{{ title }}{% endblock %}

{% block page_content %}
    <div class="aky-header-page">
        <h1 class="aky-header-page__title">{{ title }}</h1>
        <a class="btn btn-outline-dark" href="{{ path(route~'_index') }}">Retour à la liste</a>
    </div>

    <div class="content">

        <ul class="nav nav-tabs" id="tabs" role="tablist">
            {# GENERAL #}
            <li class="nav-item">
                <a class="nav-link active" id="general-tab" data-toggle="tab" href="#general" role="tab" aria-controls="general" aria-selected="true">Général</a>
            </li>
        </ul>

        <div class="tab-content" id="tabsContent">
            {# GENERAL #}
            <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="general-tab">
                {{ include('@AkyosCore/crud/_form.html.twig', {'button_label': 'Ajouter'}) }}
            </div>
        </div>

    </div>

{% endblock %}