.contact-form-previsualisation{
        .ui-sortable-helper{
            background-color: transparent !important;
            border: none;
            > .contact-form-previsualisation-col{
                background-color: $second;

                .contact-form-previsualisation-col__title,
                .contact-form-previsualisation-col__type{
                    color: $white;
                }
                .btn-modal-contactformfield {
                    color: $second;
                    background-color: $white;
                }
            }
        }
    &-col {
        background-color: #F3F3F3;
        margin-bottom: 1.3rem;
        padding: 1.5rem;
        display: flex;
        align-items: center;
        justify-content: space-between;
        border-radius: 4px;
        &__title {
            font-weight: bold;
            font-size: .75rem;
            font-family: Montserrat, sans-serif;
        }
        &__type {
            font-size: .65rem;
            font-weight: normal;
            text-transform: uppercase;
        }
    }
}
form[name="new_contact_form_field"]{
    input[type='checkbox']{
        height: initial;
    }
}