{% extends '@AkyosCore/layout.html.twig' %}

{% block title %}ShopBundle - Options{% endblock %}

{% block page_content %}
    <h1>ShopBundle - Options</h1>
    <div class="form mt20">
        {{ include('@AkyosShop/shop_options/_form.html.twig') }}
    </div>
{% endblock %}
